.scrollbar-container::-webkit-scrollbar {
  width: 7px;
  margin-right: 10px;
}

.scrollbar-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.scrollbar-container::-webkit-scrollbar-track {
  background-color: transparent;
}
.scrollbar-container {
  direction: rtl;
  overflow-x: hidden;
}
.scrollbar-container * {
  direction: ltr;
}
